<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="en">
        <title>Charting</title>
        <link rel="stylesheet" type="css/text" href="style.css">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <main id="app">
            <section>
                <input type="text" v-model="inputJSON">
                <button @click="loadJSON">Load</button>
            </section>
            <section>
                <h2>Patient Info</h2>
                <div><label>Name:</label><input type="text" v-model="content.patientName"></div>
                <div>
                    <input type="radio" v-model="content.sex" id="female" name="sex" value="0"><label for="female">Female</label>
                    <input type="radio" v-model="content.sex" id="male" name="sex" value="1"><label for="male">Male</label>
                </div>
            </section>
            <section>
                <h2>Assessment</h2>
            </section>
            <section>
                <h2>Plan</h2>
            </section>
            <section>
                <h2>Timeline</h2>
            </section>
            <section>
                <code>{{ outputJSON }}</code>
            </section>
        </main>
    </body>
    <script src="main.js"></script>
</html>
